<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testing-1.0.dtd" >
<suite name= "All Test Suite" >
    <test name ="ParamsTest" >
        <listeners>
            <listener class-name="TestNgExamples.CustomLog" ></listener>
        </listeners>
        <classes>
            <class name = "TestNgExamples.Officeer"/>
        </classes>
    </test>
    </suite>